.about {
  background-color: black;
  color: white;
  padding: 50px 100px;
}
.about-intro {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about-intro h3 {
  color: rgb(224, 2, 105);
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.4rem;
}
.about-intro p {
  font-size: 2.3rem;
  text-align: center;
}
.about-intro span {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 30px;
  color: gray;
  text-align: center;
}
.about-explain {
  display: flex;
  gap: 50px;
  max-width: 850px;
  margin: 0 auto;
}
.about-explain_profile h6,
.about-explain_skills h6
{
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  margin-top: 40px;
}
.about-explain_profile p:first-of-type,
.about-explain_skills p:first-of-type{
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  padding: 20px 0px;
  color: gray;
  font-weight: 600;
  max-width: 500px;
}
.about-explain_profile li,
.about-explain_skills li{
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: 900;
  list-style: none;
}
.about-explain_profile  span{
  color: #464545;
}

.about-explain_skills span,
.about-explain_profile_bio span {
  color: gray;
  font-size: 1.1rem;
}
.about-skills {
  background-color: #313131;
  border: 1px solid #313131;
  height: 10px;
  list-style: none;
}
.about-skills-html div {
  width: 90%;
  height: 100%;
  background-color: white;
}
.about-skills-css div {
  width: 90%;
  height: 100%;
  background-color: white;
}
.about-skills-javascripts div {
  width: 90%;
  height: 100%;
  background-color: white;
}
.about-skills-html-react div {
  width: 80%;
  height: 100%;
  background-color: white;
}
.about-skills-figma div {
  width: 50%;
  height: 100%;
  background-color: white;
}
.about-skills-vuejs div {
  width: 50%;
  height: 100%;
  background-color: white;
}

.about-explain_button {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  gap: 50px;
}
.about-explain_button button {
  padding: 20px;
  width: 250px;
  align-content: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2rem;
}
.about-explain_button button:first-of-type {
  border: 3px solid #313131;
  transition: all 300ms;
}
.about-explain_button button:first-of-type:hover {
  border: 3px solid #ff0077;
}
.about-explain_button button:last-of-type {
  background-color: #313131;
  color: #ffff;
  border: none;
  transition: all 300ms;
}
.about-explain_button button:last-of-type:hover {
  box-shadow: rgba(74, 58, 255, 0.15) 0px 4px 10px 0px;
  transform: translate(0px, -4px);
}
@media only screen and (max-width: 768px) {
  .about-explain {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
  }
  .about-intro span{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .about {
    background-color: black;
    color: white;
    padding: 50px 30px;
  }
}
