.intro {
  color: aliceblue;
  height: 100svh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(46, 43, 43, 0.866);
  background-blend-mode: multiply;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-contain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-names {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.into-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.intro h1 {
  font-family: "poppins-semibold", sans-serif;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  color: rgb(224, 2, 105);
}
.intro h2 {
  font-family: "poppins-semibold", sans-serif;
  font-size: 6.25rem;
}
.intro p {
  font-family: "poppins-semibold", sans-serif;
  font-size: 1.4rem;
  text-align: center;
}
.intro button {
  font-size: 1.4rem;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.1em solid gray;
  border-width: 4px;
  color: aliceblue;
}
.intro-links {
  position: absolute;
  bottom: 5%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media only screen and (max-width: 1280px) {
  .intro-contain {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .into-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .intro h1 {
    font-size: 2.4rem;
  }
  .intro h2 {
    font-size: 6.25rem;
  }
  .intro p {
    font-size: 1.4rem;
  }
  .intro button {
    font-size: 1.4rem;
    padding: 20px 40px;
    border-color: gray;
    border-width: 4px;
  }
  .intro-links {
    font-size: 2rem;
    gap: 30px;
  }
}
@media only screen and (max-width: 1130px) {
.intro h2{
  font-size: 5rem;
}
}
@media only screen and (max-width: 992px) {
  .intro h1 {
    font-family: "poppins-semibold", sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
  }
  .intro h2 {
    font-family: "poppins-semibold", sans-serif;
    font-size: 4.25rem;
  }
  .intro p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .intro h1 {
    font-size: 2.4rem;
  }
  .intro h2 {
    font-family: "poppins-semibold", sans-serif;
    font-size: 3.25rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro button {
    font-size: 0.8rem;
    padding: 20px 40px;
    border-color: gray;
    border-width: 4px;
  }
  .into-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .intro-links {
    font-size: 1.5rem;
    gap: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .intro h1 {
    font-size: 2.25rem;
  }
  .intro h2 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro button {
    font-size: 0.5rem;
    padding: 20px 40px;
    border-color: gray;
    border-width: 4px;
  }
  .intro-links {
    font-size: 1rem;
    gap: 10px;
  }
}
